@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background: #EEF;
  margin: 0;
}

#app {
  display: flex;
}

input[type=text], input[type=number], input[type=password] {
  border-radius: 3px;
  padding: 3px;
  background: #FAFAFF;
}

input[type=submit], button {
  font-size: 25px;
  padding: 2px 10px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
/*   color: #DEDEFF; */
  background: #FAFAFF;
  box-shadow: 5px 5px 15px black;
}

input[type=submit]:hover, button:hover {
  color: #AAA;
}

input[type=submit]:active, button:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 1px 1px 15px black;
}

input[type=submit]:focus, button:focus {
  outline: 0;
}

.twoPerRow {
  display: grid;
  width: 400px;
  grid-template-columns: 180px auto;
}

.twoPerRow label {
  text-align: right;
  font-size: 20px;
  margin: 8px 5px 5px 0;
}

.twoPerRow input {
  width: 200px;
  font-size: 20px;
  margin-bottom: 5px;
}

#loginRegister {
  text-align: center;
  width: 400px;
  padding: 50px;
  margin: 10px;
  border: 3px solid #EEE;
  box-shadow: 5px 5px 15px;
  background: #FDFDFD;
}

#userTypeChoice {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainSection {
  margin: 20px;
  max-width: 640px;
  background: #EEF;
}

#appName {
  font-size: 45px;
  background: black;
  color: #EEF;
  display: inline;
  padding: 10px;
  border-radius: 10px;
}

#welcomeMessage {
  margin: 0 20px;
  display: flex;
}

.description {
  max-width: 800px;
}

#searchBar {
  font-size: 20px;
}

#restaurantSettings {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
}

#rsInnerBox {
  background: white;
  width: 90%;
  text-align: center;
  height: 90%;
  overflow-y: scroll;
}

.restaurantInputSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

.tableRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.removeBtn {
  font-size: 10px !important;
}

.showAllTablesText {
  color: #AA2222;
  cursor: pointer;
}

.tableInfo {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.tableInfo p {
  width: 100px;
  text-align: left;
}

@media only screen and (max-width: 940px) {
  #app {
    flex-direction: column-reverse;
  }
}